In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Question 1 - Load data set using pandas function and print last 5 records.
flightdf = pd.read_csv('flight.csv')
flightdf.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,1455,1459,-4,1655,1645,10.0,B6,1053,N203JB,JFK,PIT,87.0,340,14,59,01-01-2013 14:00
1,2013,1,1,1455,1500,-5,1753,1810,-17.0,DL,1997,N997DL,LGA,PBI,152.0,1035,15,0,01-01-2013 15:00
2,2013,1,1,1456,1500,-4,1649,1632,17.0,UA,685,N802UA,LGA,ORD,140.0,733,15,0,01-01-2013 15:00
3,2013,1,1,1456,1455,1,1830,1813,17.0,UA,1134,N24212,EWR,AUS,252.0,1504,14,55,01-01-2013 14:00
4,2013,1,1,1457,1500,-3,1758,1815,-17.0,UA,379,N401UA,EWR,RSW,166.0,1068,15,0,01-01-2013 15:00

In [5]:
# Question 2 - Print the number of flight from one point to another. 
flightdf.origin.value_counts()

EWR    74
JFK    73
LGA    52
Name: origin, dtype: int64

In [6]:
flightdf.dest.value_counts()

MCO    13
ORD    13
ATL    10
FLL     9
LAX     8
DEN     8
CLT     7
TPA     6
DFW     6
SFO     6
RSW     5
PBI     5
RDU     5
BOS     5
MIA     4
DCA     4
IAD     4
PIT     4
PHX     4
STL     4
SJU     4
CMH     4
SAN     4
IAH     4
LAS     3
BUF     3
MDW     3
DTW     3
AUS     3
MSP     3
BNA     2
MCI     2
CLE     2
CVG     2
MKE     2
XNA     2
IND     2
SLC     1
ALB     1
DAY     1
SEA     1
SDF     1
SAT     1
BTV     1
HOU     1
ORF     1
EGE     1
GSO     1
MHT     1
GRR     1
RIC     1
ROC     1
SYR     1
PHL     1
SRQ     1
BWI     1
GSP     1
PDX     1
Name: dest, dtype: int64

In [5]:
# Question 3 - Find the best airline in terms of departure
delays = flightdf['dep_delay']
mindelay = min(delays)
bestFlight = flightdf[flightdf['dep_delay']==mindelay]
bestFlight

NameError: name 'flightdf' is not defined

In [6]:
# Question 4 - Create new column speed by calculating speed of airplane using distance and time taken to 5 travel.
flightdf['speed (km/min)']=flightdf['distance']/((flightdf['hour']*60)+flightdf['minute'])

NameError: name 'flightdf' is not defined

In [7]:
# Question 5 - Create a data frame containing total number of flights going to a particular destination
destinations = flightdf['dest'].unique()
destinations

NameError: name 'flightdf' is not defined

In [8]:
destdict={}
for destination in destinations:
    counts = len(flightdf[flightdf['dest']==destination])
    destdict[destination]=counts
    print(f"Destination is {destination} : {counts} no of flights")

NameError: name 'destinations' is not defined

In [9]:
# Question 6 - Find the size and shape of data set 
print(flightdf.shape)
print(flightdf.size)

NameError: name 'flightdf' is not defined

In [10]:
# Question 7 - Print all the column header of the dataframe
flightdf.columns

NameError: name 'flightdf' is not defined

In [11]:
# Question 8 - Remove all the duplicate values from the data frame
flightdf.duplicated().sum()

NameError: name 'flightdf' is not defined

In [12]:
# there is no duplicate values in dataset but here is the code for remove duplicates
flightdf.drop_duplicates(inplace=True)

NameError: name 'flightdf' is not defined

In [13]:
# Question 9 - Count the null values in the database and replace with mean value.
flightdf.isnull().sum()

NameError: name 'flightdf' is not defined

In [14]:
# there is null values in arr_delay
ardelay = flightdf['arr_delay']
ardelay.fillna(ardelay.median(),inplace=True)

NameError: name 'flightdf' is not defined

In [15]:
ardelay.isnull().sum()

NameError: name 'ardelay' is not defined

In [16]:
flightdf

NameError: name 'flightdf' is not defined